<!DOCTYPE html>
<html lang="en">
<link href="/pages/include/html_head.tpl?__inline" rel="import" />
<link rel="stylesheet" href="./index.css" />
<body>
    <h1>脚手架使用概要 （基于fis3的前端工程构建）</h1>

    <h3>1. “?__inline” 语法 作为组件化基础</h3>
    <pre>
        <code>&lt;link href="/pages/include/html_head.tpl?__inline" rel="import" /></code>
    </pre>
    <h3>
        2. Require JS
        <a href="/pages/home/index.js" target="_blank">例子</a>
    </h3>
    <pre>
        <code>//一个页面，require一个JS页面逻辑处理文件</code>
        <code>&lt;script>
            <code> require(['pages/home/index']);</code>
        &lt;/script></code>
    </pre>
   
    <h3>3. 模版引擎 </h3>
    <pre>
        <code>var res = {
            name : 'lancer'
            list : [
                {
                    id : 1
                },
                {
                    id : 2
                },
                {
                    id : 3
                },
                {
                    id : 4
                }
            ]
        }
        var tplAutoApproval = template($('#tplAutoApproval').html(),res);</code>
        <code>$("#message").html(tplAutoApproval);</code>

        <code>
        &lt;div id="message">&lt;/div>
        &lt;script type="text/html" id="tplAutoApproval">
            i am  <%- name %>
            <% for (var i = 0; i < list.length; i++) { %>
                <%if (list[i].id != 3) { %>
                    <code> &lt;li><%- list[i].id %></li></code>
                <% } %>    
            <% } %>
        &lt;/script></code>
    </pre>

    <button id="btn" type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> click me
    </button>
    <div id="message">空的message</div>
    
    <script type="text/html" id="tplAutoApproval">
        <div>
            i am in template <%- name %>
            <ul>
                <% for (var i = 0; i < list.length; i++) { %>
                    <%if (list[i].id != 3) { %>
                        <li><%- list[i].id %></li>
                    <% } %>    
                <% } %>
            </ul>
        </div>
    </script>

    <h3>4.Vue的目录结构 <a href="/pages/about/" target="_blank">例子</a></h3>
    <pre>
        <code>// 先建一个html的page，id选择器，引入build后的js文件</code>
        <code>&lt;div id="about"></div></code>
        <code>&lt;script type="text/javascript" src="/res/build/about/IndexTpl.js"></script></code>

        <code>// vue的入口文件存放在 /res/vue/entrys/about/IndexTpl.js</code>
        <code>// vue的主文件在 /res/vue/pages/about/tpl/About.vue</code>
    </pre>

    <h3>5. Less</h3>
    <pre>
        <code>工具类存放在 /res/less</code>
        <code>less文件保存后，会自动在同级生成对应css文件</code>
    </pre>

    <h3>6. 建立开发环境与发布 <a href="/package.json" target="_blank">package.json</a></h3>
    <pre>
        <code>"build:vue": "npm run build:vue:dll && npm run build:base:vue -- --prod",</code>
        <code>"dev:vue": "npm run build:base:vue -- --dev --watch",</code>
        <code>"build:fis": "fis3 release prod -d ../dist",</code>
        <code>"dev:fis" : "fis3 server start && fis3 release -wL"</code>

        <code>发布后会自动压缩html,js,css文件，png图片会合并。</code>
    </pre>

    <script>
        require(['pages/home/index']);
    </script>
</body>
</html>





