nav {
  color: red;
}
nav ul.navbar li {
  list-style: none;
}
nav ul.navbar li a {
  padding: 10px;
}
nav ul.navbar li a:hover,
nav ul.navbar li a:active {
  text-decoration: none;
  border-bottom: 0;
}
nav .clearfix {
  clear: both;
}
