nav.top-nav{
    position: sticky;
    width:100%;
    top:0;
    left:0;
    color : red;
    background:rgba(0,0,0,0.6);
    border-radius:5px;
    font-size:18px;
    z-index: 100;
    ul{
        margin:0;
        padding:0;
        li{
            float: left;
            width:20%;
            height: 40px;
            line-height: 40px;
            text-align:center;
            list-style: none;
            a{
                display: block;
                color:#fff;
                text-decoration: none;
                &:hover{
                    background:#f0f0f0;
                    color:#000;
                }
            }
        }
    }
    .clearfix{
        clear:both
    }
}