@import "../../../res/css/common/common.less";
@import "../../../res/css/common/popup.less";
@import "../../../res/css/common/table_old.less";
body{
    padding:0 20px;
    dl{
        margin-bottom:30px;
        padding-bottom:30px;
        border-bottom:1px dashed #ccc;
        dt{
            font-size: 30px;
            font-weight:bold;
            line-height: 60px;
        }
        dd{
            button{
                margin:5px;
            }
        }
    }
    .common-content-main{
        width:90%;
        position: relative;
    }
    .popup-main{
        padding:20px;
        .item{
            margin:10px 0;
            input{
                width:220px;
                line-height: 30px;
                height: 30px;
            }
        }
    }
}